# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/
build/

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Misc
*.swp
*.swo
